nav.navbar.navbar-expand-lg.navbar-light.bg-light.d-flex.justify-content-between
    span.d-inline-flex.align-items-center
      | Join us:
      #navbarText
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='#') Discord 
          li.nav-item
            a.nav-link(href='#') Reddit
    span.d-inline-flex
      | DMCA - Privacy - Animekisa.org - Animekisa.net