nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  form.form-inline.my-2.my-lg-0
        nav.navbar.navbar-drak.bg-drark
          a.navbar-brand(href='#')
            img(src='/public/images/logo.png' width='30' height='30' alt='')
        input.form-control.mr-sm-2.search(type='search' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse.mr-5
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='#')
          | Most Popular 
      li.nav-item
        a.nav-link(href='#')
          | Anime
      li.nav-item
        a.nav-link(href='#')
          | Dubbed
      li.nav-item
        a.nav-link(href='#')
          | Movies
      li.nav-item
        a.nav-link(href='#')
          | Categories
      li.nav-item
        a.nav-link(href='#')
          | Schedule
      li.nav-item.active
        a.nav-link(href='#')
          | Random

.card.mb-3
  img.card-img-top(src='/public/images/title.jpg' alt='Card image cap')