table.table.table-dark.m-2
  tbody
    tr
      th.text-center
        h5 Join our Discord
    tr
      th.text-center
        p Chat with 49200+ awesome weebs:
        br
        button.btn.btn-primary.social-btn(type='button') Discord
    tr
      th.text-center
        h5 Join us on Reddit
    tr
      th.text-center
        p Ask questions and share memes:
        br
        button.btn.btn-warning.social-btn(type='button') Reddit
    tr
      th.text-center
        h5 Ongoing anime
    tr
      th
        p Mushoku Tensei: Isekai Ittara Honki Dasu Part 2 Dubbed